:root {
  --body-bg-image: url("/img/roses.png");
  --main-bg-image: url("/img/dos.png");
  --header-image: url('/cth5.jpg');
/*  --footer-image: url('https://sadhost.neocities.org/images/tiles/stars5.gif'); */
}

@font-face {
  font-family: "silvus";
	src: url(/fonts/silvus.ttf);
}

@font-face {
  font-family: "cardinal";
	src: url(/fonts/Cardinal.ttf);
}

@font-face {
  font-family: "Unifraktur";
	src: url(/fonts/UnifrakturCook-Bold.ttf);
}

@font-face {
  font-family: "Venice";
  src: url(/fonts/VeniceClassic.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/Helvetica.ttf) format("truetype");
}

@font-face {
  font-family: "dos";
  src: url(/fonts/dos.ttf) format("truetype");
}

@font-face {
  font-family: "pixel";
  src: url(/fonts/pixel.ttf) format("truetype");
}

.runimation {
	height: 30px;
}

body {
  padding: 11%;
  background-color: #4d5d53;
  margin: auto;
  max-width: 720px; 
  color: black;
  font-family: "cardinal";
}

/* Header styles */
header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

/* Footer styles */
footer {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 10px 0;
    text-align: center;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
}

p {
  padding: 2px;
  margin-left: auto;
}

#gallery img {
  border: 1px solid orchid;
  flex: 3;
  border-radius: 3px;
  width: 75px;
  height: 75px;
  display: inline-block;
  margin: auto;
  margin-right: 2px;

}

#gallery img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
  filter: grayscale(100%);
  transition: 0.5s;
  border: 1px indigo dotted;
}

main {
  background-color: #4d5d53;
  background-size: auto;
  height: auto;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  overflow: hidden;
  width: 720px;
  padding: auto;
  margin: auto;
  order: 2;
  border: 23px #4d5d53 solid;
  color: #05ffa1;
}

main p {
  padding: 10px;
  margin: 10px;
  font-size: 175%;
}
#top-boxes {
  display: flex;
  padding: auto;
}
#rightSidebar {
	order: 3;
            }

#container {
  width: auto;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  position: center;
  background-color: #c0c0c0;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.3);
  margin: 23px;
  padding: auto;
  order: 5;
  border: double gray 4px;
}

#index {
  color: #78866b;
}

#container2 {
  width: auto;
  color: black;
  font-family: "dos";
  font-size: smaller;
  position: center;
  background-color: #00ff9f;
  margin: 23px auto;
  padding: 23px auto;
  order: 4;
  border: double gray 4px;
}

#container2 marquee {
  background: #001eff;
  color: #d600ff;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainbox {
  width: 500px;
  position: center;
  background-color: black;
  box-shadow: 12px 12px 2px 1px black;
  margin-left: 2px;
  padding-top: 23px;
  border: double gray 4px;
}

.flex {
  display: flex;
  flex: 1;
			}
.wave {
  border-bottom: solid 3px indigo;
  padding: 10px;
}

#copyleft p {
  font-size: small;
  color: black;
}

/* Who doesn't like Boxes? */

.box {
  color: black;
  background-color: #ff71ce;
  border: 3px dotted #05ffa1;
  margin: 23px;
            }
.update-box {
  width: 320px;
  height: 200px;
  background-color: blue;
  border: 3px double #01cdfe;
  padding: 10px;
  margin: 23px;
  box-shadow: 12px 12px 2px 1px black;
}
.sidebox {
  font-family: "silvus";
  justify-content: center;
  align-items: center;
  color: #00ff9f;
  position: sticky;
  position: -webkit-sticky;
  top: 23px;
  height: auto;
  background-color: #4d5d53;
  margin: 23px auto;
  margin-left: 32px;
  padding: 23px auto;
  order: 1;
}

.sidebox p {
  text-align: center;
}

.sidebox li a {
  display: inline-block;
  text-decoration: none;
  font-family: "silvus";
  font-size: 200%;
  color: #8f9779;
  margin: 2px;
  padding: 3px;
}

.sidebox li a:hover {
  color: #738276;
}

.sidebox ul {
  list-style-image: url('/nonexistent.svg');
  list-style-type: none;
  background: #4d5d53;
  margin: 15px;
  padding: 20px;
}

aside {
	background-color: black;
	width: 200px;
	padding: 20px;
	font-family: "Venice";
	font-size: smaller;
	/* this makes the sidebar text slightly smaller */
            }

pre  { 
	overflow: auto; 
     }

h3 {
  text-align: left;
  font-family: "cardinal";
  font-size: 175%;
  color: #738678;
  padding: 3px;
  margin: 0 auto;
  outline: none;
}

h2 {
  text-align: left;
  background: #0000aa;
  font-family: "pixel";
  color: #ff71ce;
  padding: auto;
  margin: auto;
  outline: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 3px solid #aaa;
  text-align: center;
}

h1 {
  top: 0;
  color: #738678;
  font-family: "cardinal";
  font-size: 200%;
  text-align: center;
  padding: 5px auto;
  margin: 5px auto;
}

#gallery {
 color: #8f9779;
 min-height: 500px;
 height: 500px;
 width: auto;
 min-width: 300px;
 overflow: scroll;
 min-width: 460px;
 background: #4d5d53;
 padding: auto;
 margin: auto;
}

#gallery::-webkit-scrollbar {
  display: none;
}

#gallery ul {
  list-style-type: none;
  font-size: 175%;
}

#gallery a {
  font-family: "Cardinal";
  display: inline-block;
  text-decoration: none;
  color: #78866b;
}
#gallery a:hover {
  color: #738276;
  font-family: "Unifraktur";
  transition: all 1s;
  text-decoration: underline;
}

footer {
  background-color: #c0c0c0;
  background-size: 40px;
  max-width: 720px;
  position: inline-block;
  height: 11px;
  padding: 23px;
  margin: 23px;
  border: 5px #c0c0c0 inset;
  text-align: left;
}

