::root {
  --body-bg-image: url("https://sadhost.neocities.org/images/layouts/wp.jpeg")
}

body {
	padding: 5%;
	background-color: black;
	margin: auto;
	max-width:540px; 
	font-family: monospace;
	color: white;
      }

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5)
}

pre  { 
	overflow: auto; 
     }

h3 {
	background-color:black;
	outline:none;
	border-bottom:3px double #ccc;
	font-variant:small-caps;
	font-size:120%;
}

.navbar {
	margin:auto;	
	text-align: center;
	color:#aaa;
	font-size:150%;
	font-variant:small-caps;
	font-weight:bold;
	word-wrap:break-word;
	word-break:break-all;
}
a {
	display:inline-block;
	text-decoration:none;
	color:#888;
	transition:all 5s;
}
a:hover {
	color: purple;
	transition:all 1s;
}

/* man pages */
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
table.foot td { width: 50%; }
table.head td { width: 33%; }
div.spacer { margin: 1em 0; }
code.Nm { font-weight: bold; }
a.permalink { color: inherit; text-decoration: none; }
i.Em { text-decoration: underline; }
