:root {
  --body-bg-image: url("https://sadhost.neocities.org/images/tiles/aquagalaxy_small.gif");
  --header-image: url('/cth.jpg');
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
            }

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
                font-weight: bold;
            }

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
  font-style: italic;
            }

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
            }


#header {
  width: 100%;
  background-color: #5e4e8c;
  /* header color here! */
  height: 150px;
  /* this is only for a background image! */
  /* if you want to put images IN the header, 
  you can add them directly to the <div id="header"></div> element! */
  background-image: var(--header-image);
  background-size: 63%;
            }

body {
	padding: 5%;
	background-image: var(--body-bg-image);
	background-size: 56px;
	margin: auto;
	max-width:540px; 
	color: white;
      }

p {
	padding: 2px;
	margin-left: auto;
}

img {
  border: 1px dotted #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
  filter: grayscale(100%);
  transition: 0.5s;
}

main {
  background-color: black;
  flex: 1;
  padding: 20px;
  order: 2;
            }

pre  { 
	overflow: auto; 
     }

h3 {
	background-color: purple;
	text-align: center;
	padding: 3px;
	color: white;
	outline:none;
	border:3px outset yellow;
	font-variant:small-caps;
}

.navbar {
	margin:auto;	
	text-align: center;
	color:#aaa;
	font-size:150%;
	font-variant:small-caps;
	font-weight:bold;
	word-wrap:break-word;
	word-break:break-all;
}
a {
	display: inline-block;
	font-variant: small-caps;
	border-bottom: dotted;
	text-decoration: none;
	color:yellow;
	padding: 2px;
}
a:hover {
	color: white;
	border-bottom: 3px double;
}

/* man pages */
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
table.foot td { width: 50%; }
table.head td { width: 33%; }
div.spacer { margin: 1em 0; }
code.Nm { font-weight: bold; }
a.permalink { color: inherit; text-decoration: none; }
i.Em { text-decoration: underline; }