:root {
  --body-bg-image: url("/img/setsound.png");
  --main-bg-image: url("/img/dos.png");
  --header-image: url('/cth5.jpg');
/*  --footer-image: url('https://sadhost.neocities.org/images/tiles/stars5.gif'); */
}

@font-face {
  font-family: "Unifraktur";
	src: url(/fonts/UnifrakturCook-Bold.ttf);
}

@font-face {
  font-family: "Venice";
  src: url(/fonts/VeniceClassic.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url(/fonts/Helvetica.ttf) format("truetype");
}

@font-face {
  font-family: "dos";
  src: url(/fonts/dos.ttf) format("truetype");
}

@font-face {
  font-family: "pixel";
  src: url(/fonts/pixel.ttf) format("truetype");
}

.runimation {
	height: 30px;
}

body {
  padding: 2%;
  background-image: var(--body-bg-image);
  background-size: auto;
  margin: 0 auto;
  max-width: 720px; 
  color: black;
  font-family: "dos";
}

p {
	padding: 2px;
	margin-left: auto;
}

#gallery code {
	background: black;
	color: darkseagreen;
	border: 3px double lightgreen;
	display: block;
	padding: auto;
	margin: auto;
	width: auto;
}
#gallery img {
  border: 1px solid orchid;
  flex: 3;
  border-radius: 3px;
  width: 75px;
  height: 75px;
  display: inline-block;
  margin: auto;
  margin-right: 2px;

}

#gallery img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
  filter: grayscale(100%);
  transition: 0.5s;
  border: 1px indigo dotted;
}

main {
  background-color: black;
  background-image: var(--main-bg-image);
  background-size: auto;
  scrollbar-color: #b967ff #ff71ce;
  scrollbar-width: 10px;
  height: auto;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  overflow: scroll;
  width: 720px;
  padding: auto;
  padding-left: 23px;
  padding-right: 23px;
  margin: auto;
  order: 2;
  border-top: 23px #c0c0c0 solid;
  border-bottom: 23px #c0c0c0 inset;
  border-left: 3px #c0c0c0 solid;
  border-right: 3px #c0c0c0 solid;
  color: #05ffa1;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.3);
}

main p {
  padding: 10px;
  margin: 10px;
}
#top-boxes {
  display: flex;
  padding: auto;
}
#rightSidebar {
	order: 3;
            }

#container {
  width: auto;
  position: center;
  background-color: black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.3);
  margin: 23px;
  padding: auto;
  order: 5;
  border: double gray 4px;
}

#index {
 color: #c0c0c0;

}

#container2 {
  width: auto;
  color: black;
  font-family: "dos";
  font-size: smaller;
  position: center;
  background-color: #00ff9f;
  margin: 23px auto;
  padding: auto;
  order: 4;
  border: double gray 4px;
}

#container2 marquee {
  background: #001eff;
  color: #d600ff;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;


}

#mainbox {
  width: 500px;
  position: center;
  background-color: black;
  box-shadow: 12px 12px 2px 1px black;
  margin-left: 2px;
  padding-top: 23px;
  border: double gray 4px;
}

#header {
	width: 100%;
	background-color: #5e4e8c;
	display: inline-flex;
	/* header color here! */
	/* this is only for a background image! */
	/* if you want to put images IN the header, 
	you can add them directly to the <div id="header"></div> element! */
	/* background-image: var(--header-image); */
	background-size: 100%;
	border-radius: 20px;
	z-index: -2;
            }

/* The Mighty Wizard Icon and Its Behaviour */

#home {
	display: inline-block;
	width: 30px;
	height: 30px;
}

#home:hover {
	cursor: none;
	transform: scale(50.0) translate(50px, 50px);
	transition: all 5s;
	-webkit-animation: flash ease-out 0.5s infinite;
	-moz-animation: flash ease-out 0.5s infinite;
	animation: flash ease-out 0.5s infinite;
	animation: shake ease-out 0.5s infinite;

}

#home2 {
	display: inline-block;
	width: 30px;
	height: 30px;
}

#home2:hover {
	cursor: none;
	transform: scale(50.0) translate(50px, 50px);
	transition: all 5s;
	-webkit-animation: flash ease-out 0.5s infinite;
	-moz-animation: flash ease-out 0.5s infinite;
	animation: flash ease-out 0.5s infinite;
	animation: shake ease-out 0.5s infinite;

}

#wizgif {
	width: 200px;
	height: 200px;
	display: inline-block;
	border: 10px crimson double;
	border-radius: 50%;
}

/* Tooltips, used for the Wizard*/

.tooltip .tooltiptext {
	display: none;
	position: absolute;
	color: crimson;
	background-color: black;
	border-top: 5px crimson double;
	border-bottom: 5px crimson double;
	border-radius: 10px;
	max-width: 500px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 10px;
	margin-top: -100px;
	margin-left: 20px;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	display: flex;
	transition: all 1s;
}

.dropdown:hover .dropdown-content {
	display: flex;
	transition: all 1s;
}


/* Lightning to strike Fear into Witches & Heretics! */
/*
.lightning {
	width: 100%;
	background-color: #5e4e8c;
	/* header color here! */
	height: 150px;
	/* this is only for a background image! */
	/* if you want to put images IN the header, 
	you can add them directly to the <div id="header"></div> element! */
	background-image: var(--header-image);
	background-size: 100%;
	border-radius: 20px;
	-webkit-animation: lighting infinite;
	-moz-animation: lighting infinite;
	animation: lighting infinite;
	animation: lighting infinite;
  z-index: -1;
}

.flashit {
	-webkit-animation: flash ease-out 7s infinite;
	-moz-animation: flash ease-out 7s infinite;
	animation: flash ease-out 7s infinite;
	animation-delay: 2s;
	z-index: -3;

}

/* Keyframes for Infernal Perusal */

@-webkit-keyframes flash {#333
    0% { opacity: 1; } 
    2% { opacity: 0; }
    3% { opacity: 0.6; }
    4% { opacity: 0.2; }
    6% { opacity: 0.9; } 
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; } 
    2% { opacity: 0; }
    3% { opacity: 0.6; }
    4% { opacity: 0.2; }
    6% { opacity: .9; } 
    100% { opacity: 1; }
}

@keyframes lighting {
		0% { filter: brightness(0%); }
		2% { filter: brightness(2%); }
		3% { filter: brightness(3%);}
		4% { filter: brightness(4%);}
		6% { filter: brightness(6%);}
		100% { filter: brightness(100%);}
}

@-webkit-keyframes lighting {
		0% { filter: brightness(0%); }
		2% { filter: brightness(2%); }
		3% { filter: brightness(3%);}
		4% { filter: brightness(4%);}
		6% { filter: brightness(6%);}
		100% { filter: brightness(100%);}
}
/* Lightning END */


/* Shake it, Baby! */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
*/
 
  /* navigation section!! */
#navbar {
	height: 40px;
	width: 400px;
	font-size: 123%;
	border-bottom: 3px darkseagreen double;
	background-color: black;
	border-radius: 10px;
	text-decoration: line-through;
            }

#navbar ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: space-evenly;
            }

#navbar ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#navbar li {
	padding-top: 10px;
	padding-bottom: 10px;
            }

#navbar li a {
	color: #b967ff;
	text-decoration: none;
            }

#navbar li a:hover {
	color: #05ffa1;
	cursor: pointer;
	transition: all 1s;
            }

.flex {
	display: flex;
	flex: 1;
			}
.wave {
  border-bottom: solid 3px indigo;
  padding: 10px;
}

#copyleft p {
  font-size: small;
  color: black;
}

/* Who doesn't like Boxes? */

.box {
  color: black;
  background-color: #ff71ce;
  border: 3px dotted #05ffa1;
  margin: 23px;
            }
.update-box {
  width: 320px;
  height: 200px;
  background-color: blue;
  border: 3px double #01cdfe;
  padding: 10px;
  margin: 23px;
  box-shadow: 12px 12px 2px 1px black;
}
.sidebox {
  font-family: "pixel";
  justify-content: center;
  align-items: center;
  color: #00ff9f;
  position: sticky;
  position: -webkit-sticky;
  top: 23px;
  height: auto;
  background-color: #bd00ff;
  border: 3px double #01cdfe;
  margin: 23px auto;
  margin-left: 32px;
  padding: 23px auto;
  box-shadow: 12px 12px 2px 1px black;
  order: 1;
}
#avatar-box {
  width: 150px;
  height:150px;
  display: inline;
  order: 3;
}

#avatar {
  width: 150px;
  height: 150px;
  border-top: 11px groove #b967ff;
  border-left: 11px groove #05ffa1;
  border-right: 11px groove #01cdfe;
  border-bottom: 11px groove #fffb96;
  display:inline;
}

#sonic {
  width: 32px;
  height: 32px;
}

#base {
  width: 150px;
  display: inline;
}

#contentdotexe {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.sidebox p {
  text-align: center;
}

.sidebox li a {
	display: inline-block;
	text-decoration: none;
	font-size: 150%;
	color: #00ff9f;
	margin: 2px;
	padding: 3px;
            }

.sidebox li a:hover {
  color: #00b8ff;
}

.sidebox li a:hover::before {
  content: '>';
  position: absolute;
  left: 30px;
            }
.sidebox ul {
	list-style-image: url('/nonexistent.svg');
	list-style-type: none;
	background: #001eff;
	margin: 15px;
	padding: 20px;
	border: 3px double #00ff9f;
}

aside {
	background-color: black;
	width: 200px;
	padding: 20px;
	font-family: "Venice";
	font-size: smaller;
	/* this makes the sidebar text slightly smaller */
            }

pre  { 
	overflow: auto; 
     }

h3 {
  text-align: left;
  font-family: "pixel";
  background: #bd00ff;
  color: #00b8ff;
  padding: 3px;
  margin: 0 auto;
  outline: none;
}

h2 {
  text-align: left;
  background: #0000aa;
  font-family: "pixel";
  color: #ff71ce;
  padding: auto;
  margin: auto;
  outline: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 3px solid #aaa;
  text-align: center;
}

h1 {
  background-color: #00ff9f;
  top: 0;
  color: #d600ff;
  font-family: "dos";
  font-variant: small-caps;
  border: 5px double #bd00ff;
  text-align: center;
  padding: auto;
  margin: auto;
}

/* Old Navbar

.navbar {
	margin:auto;	
	text-align: center;
	color:#aaa;
	font-size:150%;
	font-variant:small-caps;
	font-weight:bold;
	word-wrap:break-word;
	word-break:break-all;
}

*/

#gallery {
 color: #00ff9f;
 min-height: 500px;
 height: 500px;
 width: auto;
 min-width: 300px;
 overflow: scroll;
 min-width: 460px;
 background: #001eff;
 padding: auto;
 margin: auto;
 border: #bd00ff 3px double;
 box-shadow: 12px 12px 2px 1px black;
}


#gallery ul {
  list-style-image: url('/nonexistent.svg');
  list-style-type: square;
}

#gallery li a {
  font-family: "dos";
  display: inline-block;
  text-decoration: none;
}
#gallery li a:hover {
  color: #05ffa1;
  transition: all 1s;
  text-decoration: underline;
}

#gallery a {
  font-family: "pixel";
  display: inline-block;
  text-decoration: none;
  color: #b967ff;
}
#gallery a:hover {
	color: #fffb96;
	transition: all 1s;
	text-decoration: underline;
}
footer {
  background-color: #c0c0c0;
  background-size: 40px;
  max-width: 720px;
  position: inline-block;
  height: 11px;
  padding: 23px;
  margin: 23px;
  border: 5px #c0c0c0 inset;
  text-align: left;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	color: darkseagreen;
	background-color: black;
	border-left: 2px darkseagreen double;
	border-bottom: 2px darkseagreen double;
	border-radius: 10px;
	min-width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 10px;
	z-index: 1;
}


/* The Golden Apple at the Footer */

#sigil {
	display: block;
	margin: auto;
	width: 93px;
	height: 93px;
	border: 3px #c0c0c0 inset;
}

#sigil:hover {
	transform: scale(23.5) skewY(60deg) translate(-111px, -333px);
	cursor: wait;
	transition: all 10s;
	border: none;
	filter: saturate(7) drop-shadow(8px 8px 10px black) blur(4px) brightness(250%);
	-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

/* Things I borrowed somewhere, just her for legacy reasons */
/* man pages */
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
table.foot td { width: 50%; }
table.head td { width: 33%; }
div.spacer { margin: 1em 0; }
code.Nm { font-weight: bold; }
a.permalink { color: inherit; text-decoration: none; }
i.Em { text-decoration: underline; }
