:root {
  --body-bg-image: url("https://sadhost.neocities.org/images/tiles/greenmarble.jpg");
  --header-image: url('/cth4.jpg');
	--footer-image: url('https://sadhost.neocities.org/images/tiles/stars5.gif');
}

@font-face {
  font-family: "Venice";
	src: url(/VeniceClassic.ttf) format("truetype");
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
            }

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
                font-weight: bold;
            }

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
  font-style: italic;
            }

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
            }

body {
	padding: 5%;
	background-image: var(--body-bg-image);
	background-size: 96px;
	margin: 0 auto;
	max-width:720px; 
	color: black;
	font-family: "Venice";
      }

marquee {
  color: crimson;
	transition: all 5s;
}

marquee:hover {
	color: white;
	transition: all 5s;
	transform: rotate(180deg);
}

p {
	padding: 2px;
	margin-left: auto;
}

#gallery code {
	font-family: monospace;
	background: black;
	color: darkseagreen;
	border: 1px lightgreen;
	display: block;
}
#gallery img {
  border: 1px solid orchid;
	flex: 3;
  border-radius: 3px;
  padding: 3px;
  width: 150px;
  height: 150px;
  display: inline-block;
	margin-left: auto;
	margin-right: auto;

}

#gallery img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
  filter: grayscale(100%);
  transition: 0.5s;
	border: 1px indigo dotted;
}

main {
  background-color: black;
  padding: 20px;
  order: 2;
	border: 3px mediumpurple solid;
	border-radius: 20px;
	color: darkseagreen;
            }

#rightSidebar {
	order: 3;
            }

#container {
	max-width: 900px;
	/* this is the width of your layout! */
	/* if you change the above value, scroll to the bottom
	and change the media query according to the comment! */
	margin: 0 auto;
	/* this centers the entire page */
	position: center;
            }

#header {
	width: 100%;
	background-color: #5e4e8c;
	/* header color here! */
	height: 150px;
	/* this is only for a background image! */
	/* if you want to put images IN the header, 
	you can add them directly to the <div id="header"></div> element! */
	background-image: var(--header-image);
	background-size: 100%;
	border-radius: 20px;
            }

            /* navigation section!! */
#navbar {
	height: 40px;
	/* navbar color */
	width: 100%;
	font-size: 123%;
	border-bottom: 3px darkseagreen double;
	border-radius: 10px;
            }

#navbar ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: space-evenly;
            }

#navbar ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#navbar li {
	padding-top: 10px;
	padding-bottom: 10px;
            }

#navbar li a {
	color: darkseagreen;
	text-decoration: none;
            }

#navbar li a:hover {
	color: indigo;
	cursor: pointer;
	font-variant: small-caps;
	transition: all 1s;
            }

#flex {
	display: flex;
	flex: 1;
			}

.box {
	background-color: #13092D;
	border: 1px solid #ED64F5;
	padding: 10px;
            }

            /* this colors BOTH sidebars
    if you want to style them separately,
    create styles for #leftSidebar and #rightSidebar */
aside {
	background-color: black;
	width: 200px;
	padding: 20px;
	font-size: smaller;
	/* this makes the sidebar text slightly smaller */
            }

pre  { 
	overflow: auto; 
     }

h3 {
/* background stuff, here you can set an image */
/*	background-image: radial-gradient(indigo, darkseagreen); */
	font-family: "Venice";
	font-size: 110%;
	text-align: left;
	color: darkseagreen;
	padding: 3px;
	outline: none;
	border-bottom: 1px solid indigo;
	font-variant: small-caps;
}

h1 {
	text-align: center;
}

.navbar {
	margin:auto;	
	text-align: center;
	color:#aaa;
	font-size:150%;
	font-variant:small-caps;
	font-weight:bold;
	word-wrap:break-word;
	word-break:break-all;
}

#gallery ul {
	list-style-image: url('/nonexistent.svg');
	list-style-type: none;
}

li a {
	display: inline-block;
	font-variant: small-caps;
	text-decoration: none;
	color: darkorchid;
}
li a:hover {
	color: seashell;
	transition: all 1s;
	text-decoration: underline;
}

footer {
  background-color: transparent;
/*	background-image: var(--footer-image); */
	background-size: 40px;
  /* background color for footer */
	max-width: 540px;
  height: 100px;
  padding: 10px;
	margin: auto;
  text-align: center;
  /* this centers the footer text */
            }

#sigil {
	display: block;
	margin: auto;
	width: 93px;
	height: 93px;
}

#home {
	display: inline-block;
	width: 30px;
	height: 30px;
}

#home:hover {
	transition: all 5s;
	cursor: crosshair;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	color: darkseagreen;
	background-color: black;
	border: 1px darkseagreen dotted;
	border-radius: 10px;
	min-width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 10px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: flex;
	transition: all 1s;
}

/* man pages */
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
table.foot td { width: 50%; }
table.head td { width: 33%; }
div.spacer { margin: 1em 0; }
code.Nm { font-weight: bold; }
a.permalink { color: inherit; text-decoration: none; }
i.Em { text-decoration: underline; }