<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}qrzn.xyz</title>
  <link rel="stylesheet" href="{{ '/assets/css/retro.css' | relative_url }}" />
  <link rel="icon" type="image/png" href="{{ '/assets/img/logo.gif' | relative_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="{{ page.description | default: 'Enter the neon-soaked world of cyberspace and explore the cyberpunk universe.' }}" />
  <meta name="keywords" content="{{ page.keywords | default: 'Essays, Philosophy, Ebooks, Recipes' }}" />
  <meta name="author" content="qrzn" />
</head>

<body>
  <div class="header-wrapper">
    <header>
      <nav aria-label="Main Navigation">
        <div class="nav-container">
          <button id="hamburger" class="hamburger" aria-label="Toggle Navigation">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
          </button>
          {% assign url_parts = page.url | split:'/' %}
          <nav class="breadcrumbs-container">
            <ul class="breadcrumb">
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              {% assign path = "" %} {% for part in url_parts %} {% if part !=
              "" %} {% assign path = path | append: "/" | append: part %} {%
              if forloop.last %}
              <li>{{ part | replace:'-',' ' | capitalize }}</li>
              {% else %}
              <li>
                <a href="{{ site.baseurl }}{{ path }}/">{{ part | replace:'-',' ' | capitalize }}</a>
              </li>
              {% endif %} {% endif %} {% endfor %}
            </ul>
          </nav>
          <div class="header-image">
            <img src="{{ '/assets/img/globe.gif' | relative_url }}" alt="Sacred Portal to Esoteric Wisdom" />
          </div>
        </div>
        {% include mega_menu-retro.html %}
      </nav>
    </header>
  </div>

  <main id="main-content">
    <div id="preloader" class="preloader">
      <div class="spinner"></div>
    </div>
    <div class="page-content">
      {% if page.title %}
      <h1 class="post-title">{{ page.title }}</h1>
      {% endif %} {{ content }}
    </div>
  </main>

  <script src="{{ '/assets/js/nav.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/sage.js' | relative_url }}"></script>
</body>

</html>
